* {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #e15f41;
}

.nav .nav-item a {
  color: #fff;
}

.nav .nav-item a.active {
  color: #e15f41;
  background-color: white;
}

.section-title {
  font-family: "Pacifico", cursive;
}

#about-the-restaurant article,
#food-menu {
  background-color: #ffeae6;
}

#events h3 {
  font-family: "Pacifico", cursive;
  color: #e15f41;
}

#food-menu h3,
.text-colored,
.section-title span {
  color: #e15f41;
}

.nav-menu-food .nav-link.active {
  background-color: #e15f41;
  color: #fff;
}

.nav-menu-food .nav-link.active:hover {
  color: #fff;
}

.nav-menu-food .nav-link:hover {
  color: #e15f41;
}

form button {
  border: none !important;
  background-color: #e15f41 !important;
}

form a {
  color: #e15f41;
}
