* {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #e15f41;
}

.nav .nav-item a {
  color: #fff;
}

.nav .nav-item a.active {
  color: #e15f41;
  background-color: white;
}

.section-title {
  font-family: "Pacifico", cursive;
}

.section-title span {
  color: #e15f41;
}

#about-the-restaurant article {
  background-color: #ffeae6;
}

#events h3 {
  font-family: "Pacifico", cursive;
  color: #e15f41;
}
